site_name: Speaker Calibration Documentation
nav:
  - Home: index.md
  - Speaker Calibration:
    - Installation: installation.md
    - Usage: usage.md
    - Protocols: protocols.md
  - Latency Measurements:
    - Protocol: latency.md
theme:
  name: material
  favicon: img/favicon.ico
  logo: img/logo_white.svg
  palette:
  - media: "(prefers-color-scheme)"
    toggle:
      icon: material/brightness-auto
      name: Switch to light mode
  - media: "(prefers-color-scheme: light)"
    scheme: default
    toggle:
      icon: material/weather-sunny
      name: Switch to dark mode
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    toggle:
      icon: material/weather-night
      name: Switch to system preference